*{
    margin: 0;
    font-family: verdana;
}
body{
    background: white;
    /* background-image: url(https://cutewallpaper.org/21/1280x720-gif/VjLoopFreeVaporwave-1-GIF.gif);
    background-size: 100%;
    background-attachment: fixed; */

}
.header{
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 30px;
    border-radius: 0 0 20px 20px;
    text-align: center;
    background: black;
    color: white;
    border: 1px solid cyan;

}
.header p{
    margin-bottom: 30px;
}
.header ul li{
    display: inline-block;
    padding-right: 4px;
    padding-bottom: 30px
}
.header ul li a{
    text-decoration: none;
    color: cyan;
}
.line{
    background-color: steelblue;
    padding-bottom: 1%;
    margin-bottom: 50px;
}
.line2{
    background-color: steelblue;
    padding-bottom: 10px;
    border-radius: 20px;
}
.nav-wrapper{
    background-color: black;
}
strong{
    color: steelblue;
}

#btn-content:hover{
    background-color: cyan;
    border-radius: 0 0 20px 0;
}
#btn-menu:hover{
    background-color: steelblue;
    border-radius: 0 0 60px 60px;
}
/* ROSTO */
.sobre{
    justify-content: center;
}
.sobre img{
    height: 200px;
    border-radius: 400px;
}
/* conteudo das box */

.conteudo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.conteudo .card{
    margin: 10px;
    width: 600px;
    height: 300px;
    
}
.conteudo .card h2, .conteudo .card p{
    margin: 10px;
}
.conteudo .card h2{
    font-size: 30px;
}
.conteudo .card .balls{
    padding: 10px;
    background-color: #c2c2c2;
    border-radius: 10px 10px 0 0 ;
    display: flex;
}
.conteudo .card .balls .red, .conteudo .card .balls .yellow, .conteudo .card .balls .green{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin: 1px;
}