*{
    margin: 0;
    font-family: verdana;
}
body{
    background: white;
}
.header{
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 30px;
    border-radius: 0 0 20px 20px;
    text-align: center;
    background: black;
    color: white;
    border: 1px solid cyan;

}
.header p{
    margin-bottom: 30px;
}
.header ul li{
    display: inline-block;
    padding-right: 4px;
    padding-bottom: 30px
}
.header ul li a{
    text-decoration: none;
    color: cyan;
}
.line{
    background-color: steelblue;
    padding-bottom: 1%;
    margin-bottom: 50px;
}
.line2{
    background-color: steelblue;
    padding-bottom: 10px;
    border-radius: 20px;
}
.nav-wrapper{
    background-color: black;
}
strong{
    color: steelblue;
}

#btn-content:hover{
    background-color: cyan;
    border-radius: 0 0 20px 0;
}
#btn-menu:hover{
    background-color: steelblue;
    border-radius: 0 0 60px 60px;
}
/* ROSTO */
.sobre{
    justify-content: center;
    text-align: center;
}
.sobre h1{
    font-size: 30px;
}
.sobre img{
    height: 300px;
    width: 300px;
    border-radius: 400px;
}
.sobre .eu{
    display: flex;
    justify-content: center;
    margin-left: 95px;
}
.sobre .eu .logo{
    position: relative;
    right: 95px;
    
}
img.redes{
    height: 60px;
    width: 60px;
    border-radius: 10px;

}
@media (max-width: 700px) {
    .sobre .eu img{
        height: 180px;
        width: 180px;
    }
    img.redes{
        height: 70px;
        width: 70px;
    }
}

/* conteudo das box */

.conteudo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.conteudo .card{
    margin: 10px;
    width: 600px;
    height: 300px;
    border: 1px #c2c2c2 solid;
    border-radius: 10px;
}
.conteudo .card .balls:hover{
    background-color: steelblue;
}
.conteudo .card h2, .conteudo .card p{
    margin: 10px;
}
.conteudo .card .balls h2{
    font-size: 25px;
    width: 50%;
    color: #fff;
}
.conteudo .card .balls{
    padding: 10px;
    background-color: #c2c2c2;
    border-radius: 10px 10px 0 0 ;
    display: flex;
    align-items: baseline;
}
.conteudo .card .balls .red, .conteudo .card .balls .yellow, .conteudo .card .balls .green{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin: 1px;
}
/* Portifolio */
.subtitulo h3{
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
.borda-top{
    border-top: 3px #93ceff solid;
    border-radius: 50px;
}
.portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio h2{
    font-size: 25px;
    text-align: center;
}
.projeto{
    background-color: #ececec;
    padding: 20px;
    margin: 20px;
    border: 2px solid #93ceff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.projeto:hover{
    border: 5px solid #93ceff;
}
.projeto h3{
    font-size: 20px;
}
.projeto img{
    height: 250px;
    width: 300px;
    align-self: center;
    margin: 10px;
}
/* Tecnologias */
.tec{
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    flex-wrap: wrap;
}
.tec img{
    height: 100px;
    width: 60px;
    margin: 20px;
    filter: drop-shadow(0 0 1px #4b4b50);
    animation: flutuar 3s linear infinite;
}
@keyframes flutuar {
    0%,
    100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(40px);
    }
}
.tec img:nth-child(2){
    animation-delay: .2s;
}
.tec img:nth-child(3){
    animation-delay: .4s;
}
.tec img:nth-child(4){
    animation-delay: .6s;
}
.tec img:nth-child(5){
    animation-delay: .8s;
}
/* footer */
.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: steelblue;
    box-shadow: 2px grey;
    padding: 25px;
    flex-wrap: wrap;
}
.rodape .logos img{
    height: 150px;
    background-color: white;
    border-radius: 100px;
}
.rodape .links{
    display: flex;
    flex-direction: column;
    border-top: 2px solid #fff;
    padding: 10px;
    margin: 10px;
}
.rodape .links a{
    color: white;
    text-align: center;
}
.line-black{
    padding: 10px;
    width: 100%;
}
@media (max-width: 700px) {
    .links{
        width: 600px;
    }
    
}